<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
          </div>
          <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"> <a [routerLink]="['/recipes']" *ngIf="isAuthenticated">Recipes</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping list</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
                <li class="dropdown" appDropdown>
                    <a  class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>

                    <ul class="dropdown-menu" >
                        <li><a (click)="onsavedata()">Save data</a></li>
                        <li><a (click)="onfetchdata()" >Fetch data</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!isAuthenticated">
                <li> <a [routerLink]="['/auth']" ><span class="glyphicon glyphicon-user"></span>Lgin/signup</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
                <li> <a style="cursor: pointer;" (click)="onlogout()">Logout <span class="glyphicon glyphicon-off"></span></a></li>
            </ul>
        </div>    
    </div>
</nav>
